<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vocalesapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".u_test"
            android:label="@string/title_activity_u_test"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".o_test"
            android:label="@string/title_activity_o_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".i_test"
            android:label="@string/title_activity_i_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".e_test"
            android:label="@string/title_activity_e_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".a_test"
            android:label="@string/title_activity_a_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VocalU"
            android:label="@string/title_activity_vocal_u"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VocalO"
            android:label="@string/title_activity_vocal_o"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vocali"
            android:label="@string/title_activity_vocali"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VocalE"
            android:label="@string/title_activity_vocal_e"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VocalA"
            android:label="@string/title_activity_vocal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>